@use "sass:math";

.page-title {
  text-align: center;
  margin-top: $spacer;
}

.dataTables_wrapper {
  padding: 0 math.div($grid-gutter-width, 2);

  .row:nth-child(2) .table-container {
    overflow-x: auto;

    table {
      th,
      td {
        white-space: nowrap;
        vertical-align: middle;
      }

      td {
        .btn:not(:first-child) {
          margin-left: math.div($spacer, 3);
        }
      }
    }
  }
}

.contact-form {
  margin-bottom: 0;

  legend {
    text-align: center;
  }
}

#contactModal .modal-footer {
  flex-wrap: nowrap;
  justify-content: center;

  .btn {
    flex: 1;
    margin: 0 #{math.div($spacer, 2)};
  }
}