@use "sass:math";

.container-fluid {
  background-color: $white;
  min-height: 100vh;

  header,
  footer {
    justify-content: center;
  }

  header {
    font-size: $font-size-base * 1.25;
    line-height: $line-height-base * 2.5 * $spacer;
  }

  footer {
    line-height: $line-height-base * 2.5 * $spacer;
  }

  .main-content {
    min-height: calc(100vh - #{$line-height-base * 5 * $spacer});

    .main-menu {
      flex: 0 0 ($grid-gutter-width + 200);
      padding: 0 math.div($grid-gutter-width, 2);

      .main-menu-item {
        display: block;
        padding: $nav-link-padding-y;
        text-decoration: none;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, padding-left 0.2s ease-in-out;

        &.active,
        &:focus,
        &:hover {
          color: $white;
          background-color: $primary;
        }

        &.active {
          cursor: default;
          pointer-events: none;
        }

        &:focus,
        &:hover {
          padding-left: $nav-link-padding-x;
        }

        &:not(.active) {
          cursor: pointer;
        }
      }
    }

    .content-container {
      max-width: calc(100vw - #{$grid-gutter-width + 220});

      //Style for error pages
      @import "errors";

      //Style for forms and tables
      @import "pages";
    }
  }
}